{% extends 'base.html' %}
{% load store_tags %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    {% block title %}Сделайте ваш заказ.{% endblock %}

<main class="form-signin w-100 m-auto">
  <form  method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="prod">Введите id товара</label><br>
        <input type="number" name="prod_id" class="form-control" size="100" id="prod" min="1" max="20"  required>
    </div>
     <div class="form-group">
        <label for="count">Введите количество товара</label>
      <input type="number" name="amount" class="form-control"
              id="count" min="1"  value="0" required >
    </div>
       <div class="form-group">
        <label for="ticket">Введите ваш тикет</label><br>
        <input type="text" name="ticket" class="form-control" size="100" id="ticket"  min="36" max="36"  required>
    </div>

      <div class="form-group">
         <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
      </div>
  </form>
</main>

{% endblock %}
