{% extends 'base.html' %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    {% block title %} Продукция {% endblock %}
        <style >
            table {
                width: 100%; /* Ширина таблицы */
                background: white; /* Цвет фона таблицы */
                color: white; /* Цвет текста */
                border-spacing: 1px; /* Расстояние между ячейками */
            }

            td, th {
                background: grey; /* Цвет фона ячеек */
                padding: 5px; /* Поля вокруг текста */
            }
        </style>
        </head>
        <body>
        <table style="width: 50%"
               class="table table-primary table-striped table-bordered table-sm table-hover shadow-lg p-3 mb-5 bg-body rounded">
            <thead>
            <tr style="position: center">
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">count</th>
                <th scope="col">cost</th>
                <th scope="col">order_count</th>
            </tr>
            </thead>
            <tbody>

            {% for product in list_prod %}

                <tr class="table table-success table-active">
                    <td> {{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td> {{ product.count }}</td>
                    <td> {{ product.cost }} points</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input name="count" type="number" max="10" min="1">
                            <button type="submit" class="btn btn success">Купить</button>
                        </form>
                    </td>
                </tr>


            {% endfor %}

            </tbody>

        </table>
        </body>
        </html>
    {% endblock %}